<!doctype html>
<html lang="en" class="w-full h-full m-0">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/monero.png" />
        <meta name="generator" content={Astro.generator} />
        <title>XMR Gateway</title>
    </head>
    <body class="w-full h-full m-0">
        <slot />
    </body>
</html>

<style>
    @import "tailwindcss";
</style>
