#!/bin/ksh
#
# cloudflared: P2P based secure cloudflared service

daemon="/usr/local/bin/cloudflared"
daemon_user="_cloudflared"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
