---
import Link from "./link.astro";
---

<div
    class="flex flex-wrap justify-center items-center align-middle p-2 shadow-sm"
>
    <Link href="/"><span>Home</span></Link>
    <Link href="/docs"><span>Documentation</span></Link>
    <Link href="/commissions"><span>Commissions</span></Link>
    <Link href="/blog"><span>Blog</span></Link>
</div>
